
@mixin border-color($color :white){
    border-color: $color;
}
@mixin background-color($color:white) {
    background-color: $color;
}

@mixin border-radius($pixel) {
    border-radius: $pixel;
}

@mixin plus-icon(){
    font-size: 20px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}


.draw-number-section{
    margin-top: 30px;
}


.lotto-ball{
    @include   background-color(#fff);
    @include border-radius(50px);

    margin: 0 0 9px;
    padding: 23px;
    border-style: solid;
    border-width: 2px;
    font-size: 0.8rem;

}


.zeros {
    @include  border-color(black);
}

.tens {
    @include border-color(#ada5d7);
}
.twenties {
    @include border-color(#77a1fe);
}

.thirty{
    @include border-color(#61dafb);
}

.plus-icon{

    @include plus-icon();
}