
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;

}
.purchase-lotto-container {
    margin-top: 1.25rem;
    position: relative;
}

.header{
    text-align: center;
}


.amount-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}
#purchase-amount-input{
    width: 300px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    /*outline: none;*/
    padding-left:  10px;
    background-color: rgb(233, 233, 233);
}

.display-section{
    display: flex;
    flex-wrap: wrap;
}

.display-section.toggle{
    flex-direction: column;

}

.lotto-text{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.0rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.lotto-emoji{
    font-size: 20px;
}

.input-button{
    background-color: skyblue;
    /*border-color: skyblue;*/
    border: none;

    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
    cursor: pointer;

}

.display-section{
    display: none;

}


/*버튼디자인*/
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.label-on-off{
    margin-top: 25px;
    margin-bottom: 20px;
}


label {
    cursor: pointer;

    width: 80px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 20px;
    background: #fff;
    border-radius: 30px;
    transition: 0.5s;
}

input:checked + label {
    background: skyblue;
}

input:checked + label:after {
    /*오른쪽으로 이동*/
    left: calc(100% - 5px);
    /*왼쪽으로 이동*/
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}


/*로또 랜덤 번호*/