@mixin font-weight{
    font-weight: bold;
}

@mixin open-btn{

    display: block;
    margin-top: 4rem;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border-style: none;
}
@mixin result-day{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.open-btn{
    @include font-weight;
    @include open-btn;
}

.result-day{
    @include font-weight;
    @include result-day;
}

